In [1]:
import requests
import pandas as pd
from datetime import datetime, timedelta
import tqdm
import time
import random
import logging

In [7]:
def getData(st,et,limit = 1000):
    # &limit={limit}
    r = requests.get(f'https://api.qsearch.cc/api/trend/v1/comments?st={st}&et={et}&nation=TW&q=["實習"]&channels=["FB"]&key=c6efaa5ab04ddc241dd5cd7a80f0d6eaf5d21f69cdce596944292a12bdf0147b')
    return r

In [8]:
st = datetime(2021,1,1)
ed = datetime(2021,12,31)
r = getData(st.strftime("%Y-%m-%d"),ed.strftime("%Y-%m-%d"))
data = r.json()

In [9]:
st = datetime(2022,1,1)
ed = datetime(2022,12,31)
r = getData(st.strftime("%Y-%m-%d"),ed.strftime("%Y-%m-%d"))
data2 = r.json()

In [12]:
data

{'error_message': '此 API Key無效', 'error_code': 400}

In [11]:
len(data['data'][0]['fb_data'])

KeyError: 'data'

In [15]:
len(data2['data'][0]['fb_data'])

2000

In [16]:
(data['data'][0]['fb_data'][0]).keys()

dict_keys(['permalink', 'from_name', 'source', 'url', 'id', 'created_time_iso_8601', 'ts', 'TPE_Time', 'parent_id', 'like_count', 'ts_iso_8601', 'reaction_like_count', 'parentid', 'created_time', 'comment_content', 'message'])

In [17]:
df_ = pd.DataFrame(data['data'][0]['fb_data'])
df_ = df_[['permalink','comment_content','reaction_like_count','parent_id','from_name']]

In [18]:
df2_ = pd.DataFrame(data2['data'][0]['fb_data'])
df2_ = df2_[['permalink','comment_content','reaction_like_count','parent_id','from_name']]

In [21]:
_df = pd.concat([df_,df2_], axis=0, ignore_index=True)
_df.head()

,permalink,comment_content,reaction_like_count,parent_id,from_name
0,https://www.facebook.com/127628276929_10157803...,出社會多年後才發現，同學中最有成就的，不是那些最會讀書的，也不是那些很會玩社團意氣風發的，更...,3363,127628276929_10157803020671930,天下雜誌
1,https://www.facebook.com/127628276929_10157580...,"只活在自己的優越感真的不會成功,現在回想起來同學中最有成就的 ,不是成績最好的那個 ,也不是...",2063,127628276929_10157580418481930,天下雜誌
2,https://www.facebook.com/133251754149_10158180...,延伸閱讀\n\n我的優秀學弟羅一鈞\nhttps://linshibi.com/?p=395...,1773,133251754149_10158180949339150,日本自助旅遊中毒者
3,https://www.facebook.com/1458700344364224_3281...,我自己其實是個活生生的例子，我在大三下學期的時候與現任老公是未婚懷孕，當時候我與先生都沒有任...,943,1458700344364224_3281872478713659,BuzzHand
4,https://www.facebook.com/102943834507641_38889...,有去過醫院實習的，都知道只有兒科在教你疫苗，從小孩到大人的疫苗都是。有比較大量的疫苗業務也只...,825,102943834507641_388899442578744,立法委員 陳椒華

In [22]:
df_test = _df[_df.comment_content.str.contains('汽車|車|科技|零件')]

In [23]:
df_test.shape

(134, 5)

In [24]:
df_test.head()

,permalink,comment_content,reaction_like_count,parent_id,from_name
10,https://www.facebook.com/164472451075416_37948...,首先，人家考上了，而且實習結束也考到執照，人家有能力斜槓，你做不到不代表別人不行，這種發言只...,388,164472451075416_379481386880393,李錫錕 POWER
49,https://www.facebook.com/470265436473213_17936...,不要忘記志工、實習生、外包商、看護、非法看護、排班計程車、進出的廠商、外送......,121,470265436473213_1793644970801913,衛生福利部
56,https://www.facebook.com/149103655274223_17785...,我倒認為會是趙瑛慧自己改變。(第一次在劇中有人稱呼她的名字，私以為這應該是個暗示)\n原本的...,112,149103655274223_1778537645664141,韓劇經典語錄Korean Drama
78,https://www.facebook.com/147510625272443_28939...,沒什麼，習慣就好，這就是現在的社會，學校只是縮小版，以前去幼兒園實習的時候，小朋友就會比他們...,81,147510625272443_289392005878607,毒舌痞子的543日記
101,https://www.facebook.com/148395741852581_66432...,這個14歲的小冠軍家里比其他人窮點，可能因為她們家小孩比較多，在今天的社會，一個家庭養二個孩...,69,148395741852581_6643294222362668,中央社新聞粉絲團

In [34]:
df_test[df_test['from_name']=='孟買春秋']

,permalink,comment_content,reaction_like_count,parent_id,from_name
2173,https://www.facebook.com/316917708348957_52684...,「車上有人」\n「實習生做的」,67,316917708348957_526843849442003,孟買春秋
2333,https://www.facebook.com/316917708348957_52684...,不就是在推給實習生嗎？還說自己不會硬拗或推給別人？這跟她堅持她沒有違停、車上有人一樣的硬拗,43,316917708348957_526843849442003,孟買春秋
2748,https://www.facebook.com/316917708348957_54825...,弱弱的問一下😅高委員Jul 2007~Jun 2011台大資工所畢業，Jul 2008~Ma...,21,316917708348957_548256977300690,孟買春秋
3081,https://www.facebook.com/316917708348957_56697...,她在矽谷的工作只是實習（internship ），說實話，沒人會把實習拿來當工作說嘴，而在矽...,14,316917708348957_566977058762015,孟買春秋
3939,https://www.facebook.com/316917708348957_38361...,我女兒台北商業大學畢業，畢業那年，國內某大會計師事務所提供實習機會，連上班往返的公車錢都不願...,8,316917708348957_383611550431901,孟買春秋

In [25]:
pf_form_name = pd.DataFrame(df_test.groupby("from_name")['from_name'].count())
print(len(pf_form_name))
pf_form_name.from_name.sort_values(ascending=False)[:50]

106

from_name
孟買春秋                           5
Yahoo!奇摩新聞                     5
靠北護理師                          4
Dcard 出社會                      4
天下雜誌                           4
靠北設計師                          3
黑特東華 NDHU Hate                 2
公視新聞網 PNN                      2
中央社新聞粉絲團                       2
udn發燒車訊                        2
靠北生科                           2
張哲生                            2
飆捍                             2
民視新聞                           2
ETtoday新聞雲                     2
王婉諭                            1
江坤俊醫師                          1
經驗/無可取代 陳建銘                    1
經典語錄-                          1
立法委員葉毓蘭                        1
水泥工                            1
秋惠文庫 Formosa Vintage Museum    1
神老師&神媽咪                        1
無良公關                           1
獸醫老韓 Shawn Han                 1
盾牌牙醫史書華                        1
百靈果News                        1
無良公關公司                         1
瑞士。瑰娜 All About Switzerland    1
王定宇                            1
膝關節                            1
熱血史丹利大叔應援團                     1
聯合報                            1
蔣萬安                            1
自由時報                           1
關鍵時刻                           1
黃珊珊                            1
黃大米                            1
麻的罰跪-妻易毆邱醫師                    1
魚漿夫婦                           1
高雄美食地圖                         1
騷女生活報                          1
韓劇經典語錄Korean Drama             1
靠北高師大                          1
電子設計菁英群                        1
鍵盤大檸檬                          1
臺灣歐妮哈韓誌                        1
鄧惠文                            1
謝東霖 Hsieh Tung Lin             1
詮釋鬼打牆                          1
Name: from_name, dtype: int64

In [72]:
_df[_df.from_name=='實習透視鏡 Intern Lens']

Empty DataFrame
Columns: [created_time, website, fromid, from_name, text, message]
Index: []

In [31]:
pf_form_name = pd.DataFrame(_df.groupby("from_name")['from_name'].count())
print(len(pf_form_name))
pf_form_name.from_name.sort_values(ascending=False)[:50]

929

from_name
陳時中                    273
靠北護理師                  240
ETtoday新聞雲             122
udn.com 聯合新聞網          108
Yahoo!奇摩新聞              93
孟買春秋                    93
蔡英文 Tsai Ing-wen        72
靠北復健                    65
靠北教甄                    61
TVBS 新聞                 55
爆料公社                    55
公視新聞網 PNN               53
東森新聞                    53
純靠北工程師                  52
蘋果新聞網                   46
Dcard                   46
靠北設計師                   41
中時新聞網                   38
三立新聞                    35
自由時報                    34
Dcard 出社會               27
風傳媒                     25
蔣萬安                     25
即新聞                     25
靠北，幼教老師也是人              23
蘋果即時新聞                  23
醫護非視不可                  23
柯文哲                     23
徐巧芯                     22
加藤軍台灣粉絲團 2.0            21
Icu醫生陳志金                20
峰狂打臉94爽！                20
民視新聞                    20
黃大米                     18
天下雜誌                    18
未來Family                17
立法委員賴惠員                 16
中天新聞                    16
中央社新聞粉絲團                16
靠北建築                    15
今周刊                     15
盾牌牙醫史書華                 15
TVBS 少康戰情室              14
聯合報                     14
方吉君速報-我笑故我在             13
遠見雜誌                    13
ETtoday分享雲              13
蔡壁如                     12
The News Lens 關鍵評論網     12
土星六號隻狼                  12
Name: from_name, dtype: int64

In [48]:
channels = ["FB"]
keywords=["實習"]
API_KEY = 'c6efaa5ab04ddc241dd5cd7a80f0d6eaf5d21f69cdce596944292a12bdf0147b'